<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>    
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Grove Login</title>
    </head>
</head>
<body>
    <a href="/login"><img src="/images/Grove_Logo_Semi_Transparent.svg" alt="Grove logo" class="logo"></a>
    <h1>Grove</h1>
    <h5>Win your day. Rule the board.</h5>
    <br>
    <br>
    <fieldset>
    <a href='/auth/google' id="login_with_google_button">Log In With Google</a>
    </fieldset>
    <div class="star-container">
        <span class="material-icons star">star</span>
        <span class="material-icons star">star</span>
        <span class="material-icons star">star</span>
        <span class="material-icons star">star</span>
        <span class="material-icons star">star</span>
    </div>
</body>
</html>
