<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grove Profile</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" class="star">
    <link rel="stylesheet" href="/profile.css">
</head>
<body>
    <nav>
    <div class="off-screen-menu" role="navigation">
        <span class="material-symbols-outlined close-icon" role="button" aria-label="Close menu">close</span>
        <ul>
            <li> <span class="material-symbols-outlined" aria-hidden="true">checklist</span> <a href="/habits" aria-label="Link to habits page">Habits</a> </li>
            <li> <span class="material-symbols-outlined" aria-hidden="true">leaderboard</span> <a href="/leaderboard" aria-label="Link to leaderboard page">Leaderboard</a> </li>
            <li id="current-page"> <span class="material-symbols-outlined" aria-hidden="true"> account_circle</span> <a href="/profile" aria-label="Link to profile page">Profile</a> </li>
        </ul>
    </div>
    </nav>
        <div class="points-rectangle">
        <div class="tooltip">
            <span class="material-icons star" aria-hidden="true">star</span>
            <span id="points-display"><%= points %></span>
            <span class="tooltiptext">Check off habits to earn points.</span>
        </div>
    </div>
    <span class="material-symbols-outlined menu-icon" role="button" aria-label="Menu button">menu</span>  
    <main>  
    <h1>Hi, <%= username %>!
        <span class="material-symbols-outlined edit-icon" onclick="openPopup()" role="button" aria-label="See your account information">info</span>
        <div class="popup" id="popup">
            <form action="">
                <label for="username">
                    Username:
                </label>
                <input type="text" id="username" name="username" placeholder="<%= username %>" readonly>
                <br>
                <label for="email">
                    Email:
                </label>
                <input type="text" id="email" name="email"  placeholder="<%= email %>" readonly>
                <br>
                <button type="button" class="button" onclick="closePopup()">OK</button>
                <br>
            </form>
        </div>
    </h1>
    </main>
    <br><br>
    <fieldset role="button">
        <a href="http://localhost:3000/logout" class="logout" aria-label="Log out of your account">Log Out</a>
    </fieldset>
    <script src="/js/popup.js"></script>
    <script src="/js/ham-menu.js"></script>
</body>
</html>
