@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root{
    --darkest-green: #53793D;
    --background-light: #f2e8cf1a;
    --beige: #F2E8CF;
    --grey-input-border: #cbcaca6e;
    --avocado-menu: #CDD993E6;
    --avocado: #CDD993;
    --light-avocado: #f0f7cf;
    --yellow: #FAFCB1;
  }
  
  body {
    font-family: 'Manrope', sans-serif;
    color: var(--darkest-green);
    background-color: var(--background-light);
  }
  
  h1{
    text-align: center;
    font-weight: 900;
    font-size: 2.3em;
    margin-top: 0;
    padding-top: 0;
  }

  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 100,
  }

  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 100,
  }

  .star {
    color: var(--yellow);
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: var(--darkest-green);
    transform: translate(0, 3px);
}

  .menu-icon { 
    font-size: 60px; 
    padding: 1%;
    cursor: pointer;
  }

.off-screen-menu{
  height: 100vh;
  background-color: var(--avocado-menu);
  width: 100%;
  max-width: 450px;
  position: fixed;
  top: 0;
  left: -450px;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 1.5em;
  transition: left 0.3s ease;
  z-index: 1001;
}

.off-screen-menu.active{
  left: 0;
}

.close-icon {
  font-size: 60px;
  position: absolute; 
  top: 10px; 
  right: 10px; 
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 30%;
}

ul li {
  margin-top: 2%;
  padding: 10px 20px;
  font-size: 0.8em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
}

ul li span.material-symbols-outlined {
  margin-right: 10px;  /* Space between the icon and the text */
  font-size: 1.5em;  /* Adjust icon size */
}

ul li span.material-symbols-outlined:first-child {
  padding-left: 5px;
}


ul li:hover {
  background-color: var(--darkest-green);
  color: white;
}

ul a {
  color: var(--darkest-green);
  text-decoration: none;
  width: 100%; 
  align-items: center;
}

ul li:hover a {
  color: white; /* Ensures the anchor tag turns white when the list item is hovered */
}
button:focus {
  outline: 2px solid var(--darkest-green);
}

#current-page{
  background-color: var(--avocado);
}

#current-page:hover{
  background-color: var(--darkest-green);
}

table{
  padding: 2%;
  width: 45%;
  text-align: center;
  border-spacing: 0;
  margin:auto;
  font-size: large;
}

td:nth-child(odd){
  background-color: var(--light-avocado);
}

td:nth-child(2) {
    border-right: none;
    border-left: none;
}

td {
  border: 1px solid var(--darkest-green);
  align-content: middle;
  vertical-align:middle;
}

.points-rectangle{
      position: relative;
      top: 32px; 
}

.tooltip {
  position: relative;
  display: inline;
  border-bottom: 1px dotted black; /*  dots under the hoverable text */
  margin-left: 85%;
  margin-top: -2%;
  font-weight: bolder;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  font-weight: normal;
  background-color: var(--darkest-green);
  color: var(--beige);
  text-align: center;
  padding: 5%;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  width: 300%;
  top: 100%;
  left: -110%;
  font-size: 0.9em;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
