@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root{
    --darkest-green: #53793D;
    --background-light: #f2e8cf, 10%
  }
  
  body {
    font-family: 'Manrope', sans-serif;
    color: var(--darkest-green);
    background-image: url('/images/Background.jpg'); 
    background-blend-mode: lighten;
    background-clip: border-box;
}
  
  h1{
    padding-top: 2%;
    text-align: center;
    font-weight: 900;
    font-size: 2.3em;
  }

  #login_with_google_button {
    width: 35%;
    height: 45px;
    color: var(--darkest-green);
    -moz-border-radius:5px;  
    border-radius: 5px;  
    -webkit-border-radius: 5px;
    font-family: 'Manrope', sans-serif;
  }

  fieldset{
    width: 50%;
    text-align: center;
    margin:auto;
    -moz-border-radius:10px;  
    border-radius: 10px;  
    -webkit-border-radius: 15px;
    border-color: var(--darkest-green);
    background-color: white;
    background-clip: content-box;
  }

  .logo {
    width: 7%;
    height: 7%;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    fill: white;
  }